.key {
  float: right;
  margin-left: 10px; 
}

.key .swatch  {
  border: 1px solid #aaa; 
  float: left;
  height: 20px;
  margin-right: 10px; 
  width: 20px;
}  

.column { 
  float: left;
  margin: 10px 10px 0 0;
  padding: 10px;
  padding-bottom: 0;
  width: 13%;
}

.column h1 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color:#666;
}

.card {
  border: 1px solid #aaa; 
  min-height: 45px;
  margin-bottom: 10px;
  padding: 10px;
}

.tracker_1 {
  background: #def;
}

.tracker_2 {
  background: #ffd;
}

.tracker_3 {
  background: #fdd;
}

.tracker_4 {
  background: #dfd;
}

.card h1 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.card .gravatar {
  border: 1px solid #949494;
  float: right;  
  margin: -11px -11px 5px 5px;
  opacity: .7;
  width: 20px;
}

.clear {
  clear: both;
}
